<h3>Import Device IP Information</h3>

<div *ngIf="!isLogin; else showdeviceipinfor">
  <h4>Please login.</h4>
</div>

<ng-template #showdeviceipinfor>
    <form class="form-inline" name="form" (ngSubmit)="onSubmit()" #f="ngForm"
      novalidate>
      <div class="form-group">
        <label for="ip">Enter IP</label>
        <div class="d-inline">
          <input type="text" class="form-control" name="ip" [(ngModel)]="form.ip"
            #ip="ngModel" placeholder="0.0.0.0" required />
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
        <div *ngIf="f.submitted && ip.invalid">
          <div *ngIf="ip.errors.required">IP is required</div>
        </div>
        <div *ngIf="f.submitted && !isValid" class="alert alert-danger">
          IP not Valid
        </div>
      </div>
      <hr/>
      <div *ngIf="f.submitted && !isLoadingFailed">
        <div *ngFor="let item of deviceIpOutput| keyvalue">
          <h5>{{item.key}}: {{item.value}}</h5>
        </div>
      </div>
      <div *ngIf="f.submitted && isLoadingFailed">
        Loading: {{errorMessage}}
      </div>
    </form>
</ng-template>