<div class="col-xs-6 col-md-3">
    <div class="list-group">
        <a href="users" class="list-group-item">Account List</a>
        <a href="users" class="list-group-item">Account Information</a>
        <a href="users" class="list-group-item">Close Account</a>
        <a href="devices/import/ipconfig" class="list-group-item">Import Device IP Configure</a>
        <a href="devices/ipconfig" class="list-group-item">Device IP Configure</a>
        <a href="devices/import/ipinfor" class="list-group-item">Import Device IP Information</a>
        <a href="devices/ipinfor" class="list-group-item">Device IP Information</a>

        <!-- <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a> -->
    
    </div>
</div>